#btn-translate{
    background-color: orange;
    color: white;
    border-radius: 2rem;
    font-size: large;
    padding-left: 20px, 20px;
}
#txt-input{
    width: 90%;
    height: 10vh;
    margin: 1rem;
    display: block;
    padding: 1rem;
}